@media only screen and (min-width: 0px) and (max-width: 460px) {
  section{
    display:block;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    margin-left:12.5%;
  }
  .section__box{
    margin-top:2%;
    margin-bottom:5%;
    height:25%;
    width:50%;
    min-height: 150px;
    min-width: 150px;
  }
  .section__location{
    margin:0;
  }
  .section__font--main{
    font-size: 60px;
  }

}